@import "tailwindcss";

:root {
  --background: #0E0E0F;
  --foreground: white;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, sans-serif;
}

.navbar-weight {
  font-weight: 400;
}

.navbar-bg {
background: #131315;
background: radial-gradient(ellipse at center top, #38383C 1%, #131315 75%);
}

.cta-weight {
  font-weight: 600;
}

.cta-color {
  background: linear-gradient(45deg, #F89B3A, #FCDA45);
}
